{{>header}}

  <div id="content">

    <h2 class="cufon">Give us your feedback</h2>

    {{>partial/session_messages}}

    <ul>
    {{#popular_feedback}}
      <li>{{msg}} <em>{{stamp}}</em></li>
    {{/popular_feedback}}
    </ul>
  </div>

{{>footer}}
