<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer">
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  {{#no_cache}}
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="-1">
  {{/no_cache}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{title}} - {{subtitle}}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style type="text/css">
    body {
      padding-top: 0px;
      padding-bottom: 10px;
      font-family: georgia,serif;
    }
    /* Custom container */
    .container-narrow {
      margin: 0 auto;
      max-width: 640px;
    }
    .container-narrow > hr {
      margin: 30px 0;
    }
    .masthead {
      color: #ccc;
    }
    .masthead .nav {
      margin-top: 24px;
      padding: 0px;
    }
    /* Main marketing message and sign up button */
    .jumbotron {
      margin: 20px 0;
      text-align: center;
      color: #999;
      font-size: 16px;
    }
    .jumbotron h1 {
      font-size: 22px;
      font-weight: normal;
      line-height: 1;
      margin-top: 0px;
      margin-bottom: 6px;
      color: #333;
    }
    .jumbotron .lead {
      color: #999;
      line-height: 1;
      font-size: 16px;
    }
    .jumbotron .btn {
      padding: 14px 24px;
    }
    .jumbotron .hint {
      font-style: italic;
    }
    .jumbotron .more {
    }
    .jumbotron .more a {
      color: #111;
    }
    /* Supporting marketing content */
    .marketing {
      margin: 20px 0;
    }
    #logo {
      background-image: url('/img/logo-48.png');
      display: inline-block;
      width: 48px;
      height: 48px;
    }
    @media (min-width: 481px) {
      #contentTab {
        margin-top: 20px;
      }
    }
    /* Landscape phones and down */
    @media (max-width: 480px) {
      body {

      }
      #logo {
        background-image: url('/img/logo-36.png');
        display: inline-block;
        width: 36px;
        height: 36px;
      }
      .masthead .nav {
        margin-top: 18px;
        padding: 0px;
      }
      .jumbotron {
        margin: 0px 0;
      }
      .jumbotron h1 {
        letter-spacing: -1px;
        display: none;
      }
    }
  </style>
  <script src="/js/vendor/cufon-yui.js" type="text/javascript"></script>
  <script src="/js/vendor/officina.font.js" type="text/javascript"></script>
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" >
  <link href="/css/alertify.css" rel="stylesheet">
  <link href="/css/main.css?{{ot_version_id}}" rel="stylesheet">
  {{#css}}
  <link href="{{to_s}}" media="screen" rel="Stylesheet" type="text/css" />
  {{/css}}
  <script type="text/javascript">
  {{#jsvars}}
    var {{name}} = {{{value}}};
  {{/jsvars}}
  </script>
  <script src="/js/vendor/jquery-1.9.0.min.js"></script>

  <!-- <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script> -->
</head>
<body id="{{body_class}}">
<div id="banner"><div class="broadcast">{{{i18n.COMMON.broadcast}}}</div></div>
<div class="container-narrow">

  <div class="masthead">
    <div class="nav pull-right">
    {{#display_masthead}}

      {{^authenticated}}
        {{#is_subdomain}}
        <a href="{{baseotsuri}}/" title="Go to One-Time Secret">Home</a>
        {{/is_subdomain}}
        {{^is_subdomain}}
        {{/is_subdomain}}
      {{/authenticated}}

      {{#authenticated}}
        <a href="/" class="home">{{cust.custid}}</a> {{#colonel}}<a href="{{baseotsuri}}/colonel/" title="" class="nounderline">*</a>{{/colonel}} |
        <a href="{{baseotsuri}}/account" title="Your Account">{{i18n.COMMON.header_dashboard}}</a> |
        <a href="{{baseotsuri}}/logout" title="Log out of One-Time Secret">{{i18n.COMMON.header_logout}}</a>
      {{/authenticated}}

      {{^is_default_locale}}
      | <a href="?locale={{i18n.default}}" title="View site in {{i18n.default}}">{{i18n.default}}</a>
      {{/is_default_locale}}

    {{/display_masthead}}

    </div>
    <a href="/"><h3 id="logo"></h3></a>
  </div>
