{{>header}}

  <div id="content">

    <div id="primaryTabs">
      <ul>
        <li><a href="#stats"><strong>Stats</strong></a></li>
        <li><a href="#misc"><strong>Misc</strong></a></li>
      </ul>
      <div id="stats">

        {{>partial/session_messages}}

        <p>Sessions: {{session_count}} (active in the past 5 minutes)</p>

        <h3>Secrets ({{secret_count}})</h3>

        <script src="https://www.stathat.com/javascripts/embed.js"></script>
        <script>StatHatEmbed.render({s1: '{{stathat_chart}}', w: 760, h: 235});</script>

        <p><a href="/colonel/metadata">Metadata</a>/<a href="/colonel/secrets">Secrets</a>: {{metadata_count}}/{{secret_count}} ({{secrets_created}}/{{secrets_shared}}/{{emails_sent}} total)</p>

      </div>

      <div id="misc">

        <h3>Entropy</h3>

        <p>{{entropy_count}} values. <a href="/colonel/entropy/generate" class="entropy-generate" alt="Generating...">Generate more</a></p>

        {{#has_split_tests}}
        <h3>Split tests</h3>
        <ul>
        {{#split_tests}}
          <li>{{name}} {{samples}} {{scores}}</li>
        {{/split_tests}}
        </ul>
        {{/has_split_tests}}

        <h3>Redis Info</h3>

        <pre>{{redis_info}}</pre>
      </div>

    </div>
  </div>

{{>footer}}
